<template name="alertProfile">

  <div class="col-md-12">
    <h3 class="text-center">
      Alert Profile
    </h3>
    <div>
      <button id="name" type="button" class="btn btn-default btn-block">
        Name
      </button>
    </div>
    <div>
      <button id="location" type="button" class="btn btn-default btn-block">
        Location
      </button>
    </div>
    <div>
      <button id="proximity" type="button" class="btn btn-default btn-block">
        Proximity
      </button>
    </div>
    <div>
      <button id="parameters" type="button" class="btn btn-default btn-block">
        Parameters
      </button>
    </div>
    <div>
      <button id="image-match" type="button" class="btn btn-default btn-block">
        Image Match
      </button>
    </div>
  </div>

</template>



<template name="alertProfileNew">

  <div class="col-md-12">
    <h3 class="text-center">
      New Alert Profile
    </h3>
      <button id="name" type="button" class="btn btn-default btn-block">
        Name
      </button>
      <button id="location" type="button" class="btn btn-default btn-block">
        Location
      </button>
      <button id="parameters" type="button" class="btn btn-default btn-block">
        Parameters
      </button>
      <button id="proximity" type="button" class="btn btn-default btn-block">
        Proximity Slider
      </button>
      <button id="threshold" type="button" class="btn btn-default btn-block">
        Threshold Slider
      </button>
  </div>

</template>



<template name="alerts">

  <div class="col-md-12">
    <h3 class="text-center">
      Alerts
    </h3>
      <button id="new-alert" type="button" class="btn btn-default btn-block">
        New Alert
      </button>
      <button id="alert-1" type="button" class="rf-alert btn btn-default btn-block">
        Alert 1
      </button>
      <button id="alert-2" type="button" class="rf-alert btn btn-default btn-block">
        Alert 2
      </button>
      <button id="alert-3" type="button" class="rf-alert btn btn-default btn-block">
        Alert 3
      </button>
  </div>

</template>



<template name="associationNew">

  <div class="col-md-12">
    <h3 class="text-center">
      New Association
    </h3>
      <button id="name" type="button" class="btn btn-default btn-block">
        Name
      </button>
  </div>

</template>



<template name="associations">

  <div class="col-md-12">
    <h3 class="text-center">
      Associations
    </h3>
      <button id="new-association" type="button" class="btn btn-default btn-block">
        New Association
      </button>
      <button id="association-1" type="button" class="rf-association btn btn-default btn-block">
        Momma Refugee (mother)
      </button>
      <button id="assocation-2" type="button" class="rf-association btn btn-default btn-block">
        Poppa Refugee (father)
      </button>
      <button id="assocation-3" type="button" class="rf-association btn btn-default btn-block">
        Uncle Refugee (uncle)
      </button>
      <button id="assocation-4" type="button" class="rf-association btn btn-default btn-block">
        Refugee Friend (friend)
      </button>
  </div>

</template>



<template name="autoMatch">

  <div class="col-md-12">
    <h3 class="text-center">
      Auto-Match
    </h3>
      <button id="new-match-profile" type="button" class="btn btn-default btn-block">
        New Match Profile
      </button>
      <button id="match-profile-1" type="button" class="rf-match-profile btn btn-default btn-block">
        Match Profile 1
      </button>
      <button id="match-profile-2" type="button" class="rf-match-profile btn btn-default btn-block">
        Match Profile 2
      </button>
      <button id="match-profile-3" type="button" class="rf-match-profile btn btn-default btn-block">
        Match Profile 3
      </button>
  </div>

</template>



<template name="browse">

  <div class="col-md-12">
    <h3 class="text-center">
      Browse
    </h3>
      <button id="names" type="button" class="btn btn-default btn-block">
        Names
      </button>
      <button id="locations" type="button" class="btn btn-default btn-block">
        Locations
      </button>
      <button id="nearby" type="button" class="btn btn-default btn-block">
        Nearby
      </button>
      <button id="parameters" type="button" class="btn btn-default btn-block">
        Parameters
      </button>
      <button id="photos" type="button" class="btn btn-default btn-block">
        Photos
      </button>
  </div>

</template>



<template name="contact">

  <div class="col-md-12">
    <h3 class="text-center">
      Contact Us!
    </h3>
    <button id="send" type="button" class="btn btn-default btn-block">
      Send!
    </button>
  </div>

</template>



<template name="footer">

  <div class="col-md-12 text-center">
    <button id="contact-open" type="button" class="btn btn-default">
      Contact
    </button>
    <button id="donate" type="button" class="btn btn-default">
      Donate
    </button>
    <button id="donate" type="button" class="btn btn-default">
      Share
    </button>
  </div>

</template>



<template name="header">

  <div class="col-sm-12 text-center">
    <button id="home" type="button" class="btn btn-default">
      Home
    </button>
    <!-- if not @ root -->
    <button id="back" type="button" class="btn btn-default">
      Back
    </button>
    <button id="language-selector-open" type="button" class="btn btn-default">
      English
    </button>
  </div>

</template>



<template name="main">

  <div class="col-md-12">
    <button id="lost" type="button" class="btn btn-default btn-block btn-20em">
      I am Lost
    </button>
    <button id="searching" type="button" class="btn btn-default btn-block btn-20em">
      I am Searching
    </button>
    <button id="alerts" type="button" class="btn btn-default btn-block btn-20em">
      Alerts
    </button>
    <button id="associations" type="button" class="btn btn-default btn-block btn-20em">
      Associations
    </button>
    <button id="maps" type="button" class="btn btn-default btn-block btn-20em">
      Maps
    </button>
    <button id="maps" type="button" class="btn btn-default btn-block btn-20em">
      Messages
    </button>
    <button id="maps" type="button" class="btn btn-default btn-block btn-20em">
      Share Your Story
    </button>
  </div>

</template>



<template name="languageSelector">

  <button id="language-select" type="button" class="btn btn-default btn-block">
    English
  </button>

</template>



<template name="lost">

  <div class="col-md-12">
    <h3 class="text-center">
      I am Johnny Lost<br>I am from Syria
    </h3><img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
      <button id="set-location" type="button" class="btn btn-default btn-block">
        Set My Location
      </button>
      <button id="looking" type="button" class="btn btn-default btn-block">
        People Looking For Me
      </button>
      <button id="where" type="button" class="btn btn-default btn-block">
        Where Can I Go
      </button>
      <button id="who" type="button" class="btn btn-default btn-block">
        Who I'm Looking For
      </button>
  </div>

</template>



<template name="lostProfile">

  <div class="col-md-12">
    <h3>
      Hello. Do not panic.<br>Enter your personal information below and we will help you find a safe place and hopefully the people you are searching for.
    </h3>
      <button id="name" type="button" class="btn btn-default btn-block">
        Name
      </button>
      <button id="photo" type="button" class="btn btn-default btn-block">
        My Photo
      </button>
      <button id="location" type="button" class="btn btn-default btn-block">
        Current Location
      </button>
      <button id="from" type="button" class="btn btn-default btn-block">
        Where I'm From
      </button>
      <button id="been" type="button" class="btn btn-default btn-block">
        Where I've Been
      </button>
      <button id="parameters" type="button" class="btn btn-default btn-block">
        Physical Parameters
      </button>
  </div>

</template>



<template name="map">

  <div class="col-md-12">
    <h3 class="text-center">
      X Map
    </h3>
    <p>
      Map
    </p>
  </div>

</template>



<template name="maps">

  <div class="col-md-12">
    <h3 class="text-center">
      Maps
    </h3>
      <button id="help-centers" type="button" class="btn btn-default btn-block">
        Help Centers
      </button>
      <button id="border-crossings" type="button" class="btn btn-default btn-block">
        Border Crossings
      </button>
      <button id="proximity" type="button" class="btn btn-default btn-block">
        Proximity
      </button>
      <button id="density" type="button" class="btn btn-default btn-block">
        Density
      </button>
      <button id="chronologic" type="button" class="btn btn-default btn-block">
        Chronologic
      </button>
      <button id="routes" type="button" class="btn btn-default btn-block">
        Migration Routes
      </button>
      <button id="popular" type="button" class="btn btn-default btn-block">
        Popular Locations
      </button>
  </div>

</template>



<template name="matchProfile">

  <div class="col-md-12">
    <h3 class="text-center">
      Match Profile
    </h3>
      <button id="first-name" type="button" class="btn btn-default btn-block">
        First Name
      </button>
      <button id="family-name" type="button" class="btn btn-default btn-block">
        Family Name
      </button>
      <button id="location-X" type="button" class="rf-location btn btn-default btn-block">
        Location 1
      </button>
      <button id="location-X" type="button" class="rf-location btn btn-default btn-block">
        Location 2
      </button>
      <button id="parameters" type="button" class="btn btn-default btn-block">
        Physical Parameters
      </button>
      <button id="save" type="button" class="btn btn-default">
        Save
      </button>
  </div>

</template>



<template name="search">

  <div class="col-md-12">
    <h3 class="text-center">
      Search
    </h3>
    <button id="name" type="button" class="btn btn-default btn-block">
      By Name
    </button>
    <button id="location" type="button" class="btn btn-default btn-block">
      By Location
    </button>
    <button id="proximity" type="button" class="btn btn-default btn-block">
      By Proximity
    </button>
    <button id="description" type="button" class="btn btn-default btn-block">
      By Description
    </button>
    <button id="photo" type="button" class="btn btn-default btn-block">
      Photo Match
    </button>
    <button id="browse" type="button" class="btn btn-default btn-block">
      Browse Photos
    </button>
  </div>

</template>



<template name="searching">

  <div class="col-md-12">
    <h3 class="text-center">
      Hello.  I will help you find the people that you are looking for! :)
    </h3>
    <button id="name" type="button" class="btn btn-default btn-block">
      My Name
    </button>
    <button id="location" type="button" class="btn btn-default btn-block">
      My Location
    </button>
    <button id="help-centers" type="button" class="btn btn-default btn-block">
      Help Centers
    </button>
    <button id="who" type="button" class="btn btn-default btn-block">
      Who I'm Looking For
    </button>
  </div>

</template>



<template name="searchingProfile">

  <div class="col-md-12">
    <h3 class="text-center">
      Hello. Please tell us about yourself and who you are searching for. We will do our best to automatically let you know when they are found and where they are at.
    </h3>
    <button id="name" type="button" class="btn btn-default btn-block">
      My Name
    </button>
    <button id="location" type="button" class="btn btn-default btn-block">
      My Location
    </button>
    <button id="help-centers" type="button" class="btn btn-default btn-block">
      Help Centers
    </button>
    <button id="who" type="button" class="btn btn-default btn-block">
      Who I'm Looking For
    </button>
  </div>

</template>



<template name="settings">

  <div class="col-md-12">
    <h3 class="text-center">
      Settings
    </h3>
    <button id="quiet-hours" type="button" class="btn btn-default btn-block">
      Quiet Hours
    </button>
    <button id="help-center" type="button" class="btn btn-default btn-block">
      Help Center Proximity Alert
    </button>
    <button id="border-crossing" type="button" class="btn btn-default btn-block">
      Border Crossing Proximity Alert
    </button>
    <button id="refugee-proximity" type="button" class="btn btn-default btn-block">
      Refugee Proximity Alert
    </button>
  </div>

</template>



<template name="wrapper">

  <div class="container-fluid header">
    <div class="row">
      {{> header }}
    </div>
  </div>

  <div class="container-fluid content">
    <div class="row">
      {{> Template.dynamic template=main }}
    </div>
  </div>

  <div class="container-fluid footer">
    <div class="row">
      {{> footer }}
    </div>
  </div>

</template>
