.btn-20em {

  width: 20em;

}

.btn-block {

  display: block;

}

.text-center {

  text-align: center;

}
.alerts {

}


.auto-match {

}


.browse {

}


.contact {

}


.content {

}


.footer {

  background-color: #555;
  height: 1.5em;

}


.header {

  background-color: #555;
  height: 1.5em;

}


.home {

}


.language-selector {

}


.lost {

}


.lost-profile {

}


.maps {

}


.map {

}


.match-profile {

}


.right {

  text-align: right;

}

.search {

}


.searching {

}


.searching-profile {

}


.settings {

}


.wrapper {

}
